.noobSectionMain {
    background-color: lightgoldenrodyellow;
    padding: 10px
}

.noobSection {
    display: grid;
    grid-gap: 5px;
    background-color: lightgoldenrodyellow;
    padding: 10px
    /* grid-template-rows: 50px auto 25px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.noobSectionTitle {
    border-bottom: 1px solid;
    font-weight: 500;
    font-size: 1.2em;
}

.sectionResizing {
    cursor: ne-resize;
}