.noobControl {
    background-color: #d6e8f5;
    padding: 5px;
    /* To prevent user from highlighting the text */
    user-select: none;
    /* needed to position the resizer */
    position: relative;
    overflow: visible;
}

.selectedControl {
    background-color: #ffccaa;
}

.resizingControl {
    background-color: #ff7777;
    position: relative;    
}

.resizingContent {
    background-color: #aa33cc;
    opacity: 0.5;
    z-index: 20;
    position: absolute !important; /* set important to override the relative position when not resizing */
    left: 10;
    right: 10;
    top: 10;
    bottom: 10;
}

.potentialResizeDrop {
    background-color: #ccff33;
}

.myContent {
    /* border: 1px solid blue; */
    padding-top: 0px;
    padding-left: 0px;
    /* for the bottom and right side, add more padding to separate it from the resizer */
    padding-bottom: 0px; 
    padding-right: 0px;
    /* padding: 5px; */
    z-index: 10;
    text-align: left;

    position: relative; /* Use relative instead of abs so that if content requires more height, the entire row will becoem taller */
    /* position: absolute; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: visible;
}

.resizer {
    position: absolute;
    user-select: auto;
    box-sizing: border-box;
    padding: 0px;
    margin: 3px;
    cursor: move;
    width: 10px;
    height: 10px;
    /* border: 5px solid black; */
    border-right: 3px solid rgba(0,0,0,0.4);
    border-bottom: 3px solid rgba(0,0,0,0.4);
    cursor: se-resize;
    bottom: 0;
    right: 0;
    z-index: 5;
}

.landingPadContainer {
    display: grid;
    /* background: #bbbb00; */
    opacity: 0.5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    padding: 0px;
}

.landingPadCell {
    /* border: 2px solid red; */
    padding: 0px;    
}

.landingPadPotentialDrop {
    background: #2233ff;
}

.hoveredControlTypeDropTarget {
    background-color: lightpink
}